.env
.netlify
.hugo_build.lock
node_modules
public
*.tfstate
*.tfstate.*
.terraform
.terraform.lock.hcl
resources/
.devcontainer
.vscode
.idea
node_modules/
npm-debug.log
yarn-error.log
.DS_Store

static/wasmbin/templates/concrete_echos.wasm
