$body-bg-dark: #282828; // brown-gray
$body-color-dark: #d65d0e; // orange
$headings-color-dark: #458588; // teal blue
$navbar-dark-color: #d79921; // yellow
$link-color-dark: #d79921; // yellow
$navbar-dark-hover-color: #458588; // teal blue — github/search icons
$button-color-dark: #d79921; // yellow
